<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to gravatar_for(user, size: 50), user %>
    <%= link_to user.name, user %>
    <% if user.admin? %>
      <span class="label label-warning">관리자</span>
    <% end %>
    <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "삭제", user, method: "delete", data: { confirm: "정말로 삭제할까요?" }, class: "btn btn-md btn-danger" %>
    <% end %>
  </div>
</div>
