<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(@micropost) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "내용을 입력하세요" %>
      </div>
      <div class="right">
        <%= f.submit "게시", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
