<% @user ||= current_user %>
<div class="panel panel-default">
  <div class="panel-body">
    <a href="<%= following_user_path(@user) %>">
      <b id="following"><%= @user.following.count %></b> 팔로잉
    </a>
    <a href="<%= followers_user_path(@user) %>">
      <b id="followers"><%= @user.followers.count %></b> 팔로워
    </a>
  </div>
</div>
