<% @user ||= current_user %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= gravatar_for @user %>
    <h1>
      <%= @user.name %>
    </h1>
    <span>
      <%= link_to "프로필", @user, class: "btn btn-md btn-primary btn-outline" %>
    </span>
    <span>마이크로포스트 : <%= @user.microposts.count %>개</span>
  </div>
</div>
