<li class="list-group-item micropost">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="silver">
    <%= time_ago_in_words(micropost.created_at) %> 전
  </span>
  <div class="content">
    <%= micropost.content %>
  </div>
</li>
