<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to $base_title.upcase, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "인덱스", root_path %></li>
        <li><%= link_to "대하여", about_path %></li>
        <li><%= link_to "로그인", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
